@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&family=Source+Sans+Pro:wght@200;400;600&display=swap');

:root {
  --sidebar-width: 18em;
  --sidebar-trigger-height: 3em;
}

.heading {
  font-family: Rubik, sans-serif;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: var(--bg-black-primary);
  color: var(--text-primary);
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 800px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}

a {
  text-decoration: none;
}

.yellow-gradient-text {
  background: linear-gradient(
    90deg,
    hsla(58, 100%, 68%, 1) 0%,
    var(--yellow-primary) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary-yellow-text {
  color: var(--yellow-primary);
}

.primary-text {
  color: var(--text-primary);
}

.secondary-text {
  color: var(--text-secondary);
}

.warning-text {
  color: var(--red-primary);
}

input[type="text"],
input[type="password"] {
  padding: 0.5rem;
  background-color: var(---bg-black-primary);
  color: var(--text-primary);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

/* route transition */
.slide-fade-enter-active, .slide-fade-leave-active {
  transition: 0.3s ease;
}
.slide-fade-enter-from {
  opacity: 0;
  transform: translateX(10px);
}
.slide-fade-leave-to {
  opacity: 0;
  transform: translateX(-20px);
}

/* ANIMATIONS */

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shake {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.05);
  }
  20% {
    transform: scale(1.05) translateX(-10px);
  }
  40% {
    transform: scale(1.05) translateX(10px);
  }
  60% {
    transform: scale(1.05) translateX(-10px)
  }
  80% {
    transform: scale(1.05) translateX(10px);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shape-loading {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}